// colors
$red :  rgba(242, 67, 54, 1);
$blue : rgba(66, 133, 244, 1) ;
$green : rgba(0, 189, 114, 1);
$purple : rgba(255, 150, 233, 1);

// timeline variables
$dot-width : .75rem;
$dot-outline-width : .625rem;
$line-min-height : 10.625rem;
$content-padding-left-right : 2.875rem;
$content-padding-bottom : 4.25rem;

// team
$avatar-height : 14.375rem;

// ambassadors
$ambassador-avatar-height : 13.375rem;

// transitions duruation
$transition-duration-on-scroll : .3s;